
@{
    ViewBag.Title = "QuestionsSubmitted";
}

<h3>You have successfully submitted 10 questions</h3>
<h3>Now send the link to your friends and check how good they know you</h3>

@Html.ActionLink("Back to Homepage", "Index", "Home",null, new { style = "font-size: larger;" })
