
@{
    ViewBag.Title = "AlreadyPlayed";
}

<h3>You have already played the Quiz for that person</h3>
<h3>Remember you can only play once each person</h3>


@Html.ActionLink("Back to Homepage", "Index", "Home", new { style = "font-size: larger;"  })

