@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Do you want to see how good your friends know you? Contact Us</h3>


<address>
    <strong>Contact:</strong>   <a href="mailto:vasilisgeorgilas@gmail.com">vasilisgeorgilas@gmail.com</a><br />
</address>